.main-header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: @clr-white;
  border-bottom: 1px solid @clr-nobel;
  z-index: 5;

  &__login {
    color: @clr-black;
  }
}
